@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rubik", sans-serif;
}

#toggle-dark-mode:checked ~ label div.toggle-circle {
  @apply translate-x-10;
}

.button-light {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #f1f1f1;
  box-shadow: 8px 8px 20px 0px #89898940, -3px -3px 4px 0px #ffffff40 inset,
    -7px -8px 20px 0px #ffffff;
}

.button-dark {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #283345;
  box-shadow: 8px 8px 16px 0px #0000004a, 3px 3px 5px 0px #2929292b inset,
    -8px -8px 14px 0px #9f9f9f1a;
}

.label-light {
  background: black;
  box-shadow: 8px 8px 16px 0px #0000004a, 3px 3px 5px 0px #2929292b inset,
    -8px -8px 14px 0px #9f9f9f1a;
}

.label-dark {
  background: #f1f1f1;
  box-shadow: 8px 8px 16px 0px #0000004a, 3px 3px 5px 0px #2929292b inset,
    -8px -8px 14px 0px #9f9f9f1a;
}
